#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.TopBar {
  position: relative;
  top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}