#root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #090c12;
  color: #e31799;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #090c12
  border-radius: 2rem;
  padding: 2rem;

}

.TopBar {
  position: absolute;
  top: 2rem;
  left: 10rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding: 0%;
}

.TopBar a {
  padding: 2rem;
}

.card{
  background-color: black;
  max-width: 30%;
  margin: 1rem;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: bold;

}

.card:hover{
  background-color: #e31799;
  transition: 0.8s;
  color: black;
  cursor: pointer;
  transform: scale(1.1);
}

.card {
  box-shadow: #e31799 2 2 2 2;
}

.card-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-title{
  font-size:2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem; 
}



