
a:hover{
    color: #e31799;
    transition: 0.8s;
    cursor: pointer;
}

.main-title{
    color: #e31799; 
    letter-spacing: 0rem;
}

.TopBar{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem; 
    color: #e31799;
    background-color: black;
    border-radius: 2%;
}

.second-titles{
    color: #e31799;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}


.container-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item-topbar{
    letter-spacing: 0.1rem;
}
